:root {
	--radius: 1px;
	--colorOne: rgb(235, 64, 52);
	--colorTwo: rgb(173, 66, 245);
	--mainColor: #2671eb;
	--degree: 135deg;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: white;
	box-sizing: border-box;
	animation: fadeInAnimation ease 2s;
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}
@keyframes fadeInAnimation {
	0% {
		opacity: 0;
	}
	100% {
		opacity: 1;
	}
}

h1 {
	text-align: center;
	font-weight: 100;
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
}

.controlledInput {
	text-align: center;
	width: 90%;
	padding: 3em 1em 1em 0em;
	display: flex;
	align-content: center;
	justify-content: space-around;
	flex-flow: wrap;

	div {
		padding: 1em;
	}

	#colorOne {
		background-color: var(--colorOne);
	}
	#colorTwo {
		background-color: var(--colorTwo);
	}
}

#box {
	margin: auto;
	width: 50vw;
	height: 40vh;
	background: linear-gradient(var(--degree), var(--colorOne) 0%, var(--colorTwo) 100%);
	border-radius: 15px 50px;
	border: 3px solid black;
}

input::-webkit-color-swatch {
	border: none;
}

input[type='color'],
input[type='range'] {
	border-radius: 5px;
	background-color: transparent;
	border: 2px solid black;
	padding: 0;
	margin: 0;
	cursor: pointer;
	-webkit-appearance: none;
	outline: none;
}

input[type='range'] {
	height: 0.2em;
}

#gradientInfo {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1em auto 1em auto;
	textarea {
		text-align: center;
		margin: auto;
		width: 100%;
		color: black;
		background-color: white;
		resize: none;
		border: none;
		padding: 1em;
		-webkit-box-shadow: none;
		-moz-box-shadow: none;
		box-shadow: none;
		&:hover,
		&:focus {
			outline: none;
		}
	}
}

button {
	margin: auto;
	background-color: white;
	border: 2px solid black;
	color: black;
	padding: 1em;
	width: 100%;
	position: relative;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
	-webkit-transition: color 1000ms;
	transition: color 1000ms;
	&::before {
		content: "";
		position: absolute;
		z-index: -1;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		background: linear-gradient(var(--degree), var(--colorOne) 0%, var(--colorTwo) 100%);
		-webkit-transform: scaleY(0);
		transform: scaleY(0);
		-webkit-transform-origin: 50% 0%;
		transform-origin: 50% 0%;
		-webkit-transition-property: transform;
		transition-property: transform;
		-webkit-transition: 200ms ease-out;
		transition: 200ms ease-out;
	}
	&:hover {
		color: white;
	}
	&:hover::before {
		-webkit-transform: scaleY(1);
		transform: scaleY(1);
	}
}
