:root {
  --radius: 1px;
  --colorOne: rgb(235, 64, 52);
  --colorTwo: rgb(173, 66, 245);
  --mainColor: #2671eb;
  --degree: 135deg;
}

body {
  padding: 0;
  margin: 0;
  font-family: 'Lato', sans-serif;
  background-color: white;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-animation: fadeInAnimation ease 2s;
          animation: fadeInAnimation ease 2s;
  -webkit-animation-iteration-count: 1;
          animation-iteration-count: 1;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h1 {
  text-align: center;
  font-weight: 100;
  font-size: 3em;
  font-weight: 700;
  text-transform: uppercase;
}

.controlledInput {
  text-align: center;
  width: 90%;
  padding: 3em 1em 1em 0em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-line-pack: center;
      align-content: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-flow: wrap;
      flex-flow: wrap;
}

.controlledInput div {
  padding: 1em;
}

.controlledInput #colorOne {
  background-color: var(--colorOne);
}

.controlledInput #colorTwo {
  background-color: var(--colorTwo);
}

#box {
  margin: auto;
  width: 50vw;
  height: 40vh;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--degree)), color-stop(0%, var(--colorOne)), to(var(--colorTwo)));
  background: linear-gradient(var(--degree), var(--colorOne) 0%, var(--colorTwo) 100%);
  border-radius: 15px 50px;
  border: 3px solid black;
}

input::-webkit-color-swatch {
  border: none;
}

input[type='color'],
input[type='range'] {
  border-radius: 5px;
  background-color: transparent;
  border: 2px solid black;
  padding: 0;
  margin: 0;
  cursor: pointer;
  -webkit-appearance: none;
  outline: none;
}

input[type='range'] {
  height: 0.2em;
}

#gradientInfo {
  width: 80%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1em auto 1em auto;
}

#gradientInfo textarea {
  text-align: center;
  margin: auto;
  width: 100%;
  color: black;
  background-color: white;
  resize: none;
  border: none;
  padding: 1em;
  -webkit-box-shadow: none;
  box-shadow: none;
}

#gradientInfo textarea:hover, #gradientInfo textarea:focus {
  outline: none;
}

button {
  margin: auto;
  background-color: white;
  border: 2px solid black;
  color: black;
  padding: 1em;
  width: 100%;
  position: relative;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-transition: color 1000ms;
  transition: color 1000ms;
}

button::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(var(--degree)), color-stop(0%, var(--colorOne)), to(var(--colorTwo)));
  background: linear-gradient(var(--degree), var(--colorOne) 0%, var(--colorTwo) 100%);
  -webkit-transform: scaleY(0);
  transform: scaleY(0);
  -webkit-transform-origin: 50% 0%;
  transform-origin: 50% 0%;
  -webkit-transition-property: transform;
  -webkit-transition-property: -webkit-transform;
  transition-property: -webkit-transform;
  transition-property: transform;
  transition-property: transform, -webkit-transform;
  -webkit-transition: 200ms ease-out;
  transition: 200ms ease-out;
}

button:hover {
  color: white;
}

button:hover::before {
  -webkit-transform: scaleY(1);
  transform: scaleY(1);
}
/*# sourceMappingURL=styles.css.map */