:root {
	--radius: 1px;
	--colorOne: rgb(235, 64, 52);
	--colorTwo: rgb(173, 66, 245);
	--mainColor: #2671eb;
	--degree: 135deg;
}
body {
	padding: 0;
	margin: 0;
	font-family: 'Lato', sans-serif;
	background-color: white;
}

h1 {
	text-align: center;
	font-weight: 100;
	font-size: 3em;
	font-weight: 700;
	text-transform: uppercase;
}

.controlledInput {
	text-align: center;
	width: 100vw;
	padding: 3em 0em 3em 0em;
	display: flex;
	align-content: center;
	justify-content: space-around;
}

#box {
	margin: auto;
	width: 50vw;
	height: 40vh;
	background: linear-gradient(var(--degree), var(--colorOne) 0%, var(--colorTwo) 100%);
	border-radius: 15px 50px;
	border: 3px solid black;
}
#colorOne {
	background-color: var(--colorOne);
}
#colorTwo {
	background-color: var(--colorTwo);
}
input::-webkit-color-swatch {
	border: none;
}

input[type='color'],
input[type='range'] {
	border-radius: 5px;
	/* background: var(--mainColor); */
	background-color: transparent;
	border: 2px solid black;
	padding: 0;
	margin: 0;
	cursor: pointer;
	-webkit-appearance: none;
	outline: none;
}

input[type='range'] {
	height: 0.5em;
}

#gradientInfo {
	width: 80%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: 1em auto 1em auto;
}
textarea {
	text-align: center;
	width: 99.4%;
	color: black;
	background-color: white;
	resize: none;
}
button {
	margin-top: 3px;
	background-color: white;
	border: 2px solid black;
	color: black;
	padding: 1em;
	width: 100%;
}
button:hover {
	color: white;
	background: linear-gradient(var(--degree), var(--colorOne) 0%, var(--colorTwo) 100%);
}
